# Environment-based settings; copy this file to .env in project root and edit as needed

# Whether the application runs in debug mode or not
DEBUG=true

# Set a unique secret key for the project, required for running outside DEBUG mode
SECRET_KEY=

# Log level (default is INFO, DEBUG is very verbose)
# LOG_LEVEL=INFO

# Allowed hosts (list of comma-separated host names, or asterisk to match all hosts), only needed if DEBUG is false
# ALLOWED_HOSTS=

# Database URL to use (for local testing with SQLite use sqlite:///sqlite.db)
# To avoid nasty surprises when deploying, use the same database engine on production and in local development/testing
DATABASE_URL=

# E-mail backend to use, defaults to "smtp" if DEBUG is false, and "console" if DEBUG is true
# EMAIL_BACKEND=console

